header{
    max-width: 1024px;
    margin: 0 auto;
    background-image: url(../images/header.jpg);
    height: 350px;
    
    
}
h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin: 10px 10px;
}
h2{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: medium;
    margin: 0 10px;
}
main{
    max-width: 1024px;
    margin: 0 auto;
}
main h1 {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin: 15px 10px;
}
main h2{
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: medium;
    margin: 10px;
}
main ul li{
    font-family: 'Roboto Mono', monospace;
    font-weight: light;
    padding: 16px;
    list-style: none;
    background-image: url(../images/check-box.png);
    background-repeat: no-repeat;
    background-position: left;
	background-size: 10px;

}
main h3{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}
#instructionP{
    margin: 10px 10px;
}
main p{
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: medium;
    margin: 0;
}
.gameContainer{
    display: flex;
    justify-content: space-between;
}
#guess{
    margin: 0 0 0 10px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: medium;
}
#attempts{
    text-align: center;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}
#feedback{
    text-align: center;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}
#ribbon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    max-width: 1024px;
    margin: 0 auto;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: light;
    text-align: center;
    background-color: black;
}

